html {
    font-size: 62.5%;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #1a2b5f;
    line-height: 1.4;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .header {
    padding-top: 4rem;
  }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .header__menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .header__menu-item {
    margin-left: 5rem;
  }
  .header__menu-item:last-child {
    margin-left: 7rem;
  }
  .header__menu-link {
    font-size: 1.6rem;
    color: #1a2b5f;
    transition: color 0.3s linear, border 0.25s linear;
  }
  .header__menu-link:hover {
    color: #ffc87a;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1a2b5f;
    transition: 0.4s;
  }
  .logo__text {
    color: #ffc87a;
  }
  .logo:hover {
    transform: scale(1.1);
    transition: 0.35s;
  }
  
  .banner {
    padding-top: 10rem;
    padding-bottom: 0rem;
    max-width: 130rem;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
  }
  .banner__heading {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .banner__desc {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
  .banner__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .banner__buttons .btn {
    margin: 0 1rem;
    transition: 0.4s;
  }
  .banner__buttons .btn:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 10px 35px 5px #ffc87a;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: #1a2b5f;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: none;
    background-color: transparent;
  }
  .btn--border {
    border: 1px solid currentColor;
  }
  .btn--rounded {
    border-radius: 5rem;
  }
  .btn--primary {
    background-color: #ffc87a;
    transition: 0.4s;
  }
  .btn--primary:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 10px 35px 5px #ffc87a;
    color: white;
  }
  
  .category__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .category__list:hover > :not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
  }
  .category__item {
    transition: 0.35s;
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .category__item:first-child {
    box-shadow: 0 20px 35px 5px rgba(0, 145, 234, 0.25);
  }
  .category__item:nth-child(2) {
    box-shadow: 0 20px 35px 5px rgba(232, 171, 19, 0.25);
  }
  .category__item:nth-child(3) {
    box-shadow: 0 20px 35px 5px rgba(48, 64, 106, 0.25);
  }
  .category__item:last-child {
    box-shadow: 0 20px 35px 5px rgba(51, 146, 148, 0.25);
  }
  .category__image {
    object-fit: cover;
    border-radius: inherit;
    margin-bottom: 4rem;
    width: 100%;
    height: 23rem;
  }
  .category__name, .category__details {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .category__name {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .category__details {
    font-size: 1.4rem;
    color: #c6cad7;
    margin-top: auto;
  }
  .category__details i {
    margin-left: 1.5rem;
  }
  
  .feature {
    padding-top: 18rem;
  }
  .feature__item {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .feature__item:nth-child(even) .feature__info {
    padding-right: 10rem;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding-left: 10rem;
  }
  .feature__image, .feature__info {
    width: 50%;
  }
  .feature__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }
  .feature__desc {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 4rem;
    line-height: 1.8rem;
  }
  .feature-intro__item {
    font-weight: 600;
    margin-bottom: 3rem;
    text-decoration: underline;
    font-size: 1.8rem;
  }
  .feature-intro__item--cricle {
    text-decoration: none;
    position: relative;
    padding-left: 3rem;
  }
  .feature-intro__item--cricle::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 4rem;
    background-color: #FDF2D6;
  }
  .feature-intro__item--cricle:nth-child(2)::before {
    background-color: #F0A24F;
  }
  .feature-intro__item--cricle:nth-child(3)::before {
    background-color: #90AC3C;
  }
  .feature-intro__item--cricle:nth-child(4)::before {
    background-color: #1C271C;
  }
  .feature-best__icon {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #8A1C73;
    position: relative;
    z-index: 1;
    transition: 0.4s;
  }
  .feature-best__icon:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 8px 10px 2px;
  }
  .feature-best__icon--green {
    color: green;
  }
  .feature-best__icon--green:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 8px 10px 2px green;
  }
  .feature-best__icon--blue {
    color: #34A8FF;
  }
  .feature-best__icon--blue:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 8px 10px 2px #34A8FF;
  }
  .feature-best__icon--orange {
    color: #F0A24F;
  }
  .feature-best__icon--orange:hover {
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 8px 10px 2px #F0A24F;
  }
  .feature-best__icon::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .feature-best__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .feature-best__desc {
    font-weight: 300;
  }
  .feature-best__list {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .feature-best__item {
    width: calc(50% - 4rem);
    margin-bottom: 5rem;
  }
  
  .text-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-clamp--2 {
    -webkit-line-clamp: 2;
  }
  
  .partner {
    margin-bottom: 19rem;
  }
  .partner__container {
    max-width: 83rem;
    text-align: center;
  }
  .partner__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid currentColor;
  }
  .partner__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .partner__list li {
    line-height: 5rem;
  }
  .partner__item {
    width: 25%;
    width: 100px;
    object-fit: cover;
  }
  
  .connect {
    text-align: center;
    margin-bottom: 17rem;
  }
  .connect__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }
  .connect__notice {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 6rem;
  }
  .connect__notice span {
    color: #ffc87a;
  }
  .connect__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .connect__list:hover > :not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
  }
  .connect__list li {
    transition: 0.35s;
  }
  .connect__item {
    width: calc(25% - 22.5px);
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .subscribe {
    margin-bottom: 5rem;
  }
  .subscribe__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 8rem;
    border-bottom: 2px solid #1a2b5f;
  }
  .subscribe__title, .subscribe__info {
    width: 50%;
  }
  .subscribe__title {
    font-size: 2rem;
    font-weight: bold;
    max-width: 43rem;
  }
  .subscribe__form {
    background-color: #f2f1f6;
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 3.5rem;
    border-radius: 1rem;
  }
  .subscribe__input, .subscribe__button {
    padding: 0;
  }
  .subscribe__input {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: "Poppins";
    flex-grow: 1;
  }
  .subscribe__button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: "Poppins";
    font-weight: bold;
    padding: 1.5rem;
    transition: 0.5s;
  }
  .subscribe__button:hover {
    background-color: red;
    box-shadow: 0 8px 10px 2px #1a2b5f;
    color: #f2f1f6;
    border-radius: 1rem;
    transition: 1s;
  }
  .subscribe__social i {
    color: #1a2b5f;
    margin-left: 4rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
  }
  .subscribe__social i:hover {
    background-color: #F9F9F9;
    box-shadow: 0 8px 10px 2px #1a2b5f;
    transition: 0.3s;
  }
  
  .footer{
    background-color: pink;
  }
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .footer__item {
    width: 25%;
  }
  .footer__link {
    color: #D14D72;
    font-size: 1.4rem;
    display: block;

    width: fit-content;
  }
  
  @media screen and (max-width: 1023px) {
    .banner {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .banner__heading {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .banner__desc {
      font-size: 1.6rem;
      padding: 0 1rem;
    }
    .banner__butons > .btn {
      font-size: 1.4rem;
    }
    .category__item {
      width: calc(50% - 22.5px);
      margin: 1rem;
    }
    .feature {
      padding-top: 10rem;
    }
    .feature-intro__item {
      font-size: 1.2rem;
    }
    .feature-best__item {
      margin: 1rem;
    }
    .feature__item {
      flex-direction: column;
      margin-bottom: 5rem;
    }
    .feature__item:nth-child(even) {
      flex-direction: column;
    }
    .feature__item:nth-child(even) .feature__info {
      padding: 2rem;
    }
    .feature__item:nth-child(odd) .feature__info {
      padding: 2rem;
    }
    .feature__image, .feature__info {
      width: 100%;
    }
    .feature__image img {
      margin: 0 auto 5rem;
    }
    .partner {
      margin: 5rem;
      border: 1px solid #1a2b5f;
    }
    .partner__title {
      margin-bottom: 1rem;
      padding-bottom: 4rem;
    }
    .connect {
      padding-bottom: 5rem;
      margin-bottom: 5rem;
    }
    .connect__list {
      flex-wrap: wrap;
    }
    .connect__item {
      width: calc(50% - 1rem);
      margin: 0.5rem;
    }
    .subscribe__container {
      flex-direction: column;
    }
    .subscribe__title {
      font-size: 1.5rem;
      width: 100%;
      max-width: 100%;
      padding: 0 1rem;
      margin-bottom: 0.5rem;
    }
    .subscribe__info {
      width: 100%;
    }
    .subscribe__form {
      margin-bottom: 1rem;
      padding: 1rem 1.5rem;
    }
    .subscribe__social {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .subscribe__social i {
      margin-left: 0;
    }
    .subscribe__button {
      padding: 0.5rem;
    }
    .subscribe__button:hover {
      box-shadow: 0 0px 10px 2px #1a2b5f;
    }
  }
  @media screen and (max-width: 767px) {
    .header__menu {
      display: none;
    }
    .banner__desc {
      font-size: 1.2rem;
    }
    .category__item {
      width: 100%;
      margin: 1rem;
    }
    .feature__title {
      font-size: 2rem;
    }
    .partner {
      margin-bottom: 5rem;
    }
    .partner__list {
      flex-wrap: wrap;
      justify-content: content;
    }
    .partner__item {
      width: 50%;
      font-size: 2rem;
      padding: 3rem;
    }
    .partner__item img {
      margin: 0 auto;
    }
    .connect {
      padding-bottom: 5rem;
    }
    .footer__container {
      flex-wrap: wrap;
    }
    .footer__item {
      width: 100%;
      margin-bottom: 2rem;
    }
    .footer__link {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 479px) {
    .banner__heading {
      font-size: 3rem;
    }
    .banner__butons > .btn {
      font-size: 1.2rem;
    }
    .connect {
      margin-bottom: 5rem;
    }
    .subscribe__container {
      padding-bottom: 4rem;
    }
  }
  
  /*# sourceMappingURL=style.css.map */

  .textProductNew{
    margin-top: 10px;
    background: #FFABAB;
  }
  .textProductNew h2{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 700;
  }

  .slider {
    display: flex;
    width: 100%; /* 5 slide */
    animation: slideAnimation 10s infinite;
    
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
  }
  .slide1 {
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
  }
  .slide2 {
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
  }
  .slide3 {
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
  }
  .slide3 {
    width: 100%;
    flex-shrink: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
  }
  
  @keyframes slideAnimation {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
  }